body{
  background-color: #34495e;
  color: #fbfcfc;
}

a{
  color:#f1c40f;
}

.red{
  background-color:red;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.white{
  background-color: white;
}
